@font-face {
    font-family: 'Montserrat';
    src: url(./Montserrat-Regular.ttf.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url(./Montserrat-Black.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url(./Montserrat-Light.ttf) format('truetype');
    font-style: normal;
    font-weight: lighter;
}
